<h1><%= @category.title %></h1>
<%# <button type="button" class="btn btn-primary"></button> %>
<%= link_to "Edit Category", edit_category_path(@category) %>

<%= render @category.tasks %>

<h2>Add a task:</h2>
<%= render 'tasks/form' %>




